@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--border-solid-2px: 2px solid;
}
@theme {
	--color-table-header: #091a52;
	--color-highlight: #ff5733;
	--color-role-admin: #ff0000;
	--color-role-developer: #00ffff;
	--color-role-moderator: yellow;
	--color-role-board: #ed7014;
	--color-role-coordinator: #a020f0;
	--color-role-co-organizers: #2196f3;
	--color-role-lead-developer: #ff0001;
	--color-role-event-organizers: #00d166;
	--color-role-assistant-organizers: #c35339;
}

.role-admin img {
	border: var(--border-solid-2px) var(--color-role-admin);
}
.role-developer img {
	border: var(--border-solid-2px) var(--color-role-developer);
}
.role-moderator img {
	border: var(--border-solid-2px) var(--color-role-moderator);
}
.role-board img {
	border: var(--border-solid-2px) var(--color-role-board);
}
.role-coordinator img {
	border: var(--border-solid-2px) var(--color-role-coordinator);
}
.role-co-organizers img {
	border: var(--border-solid-2px) var(--color-role-co-organizers);
}
.role-lead-developer img {
	border: var(--border-solid-2px) var(--color-role-lead-developer);
}
.role-event-organizers img {
	border: var(--border-solid-2px) var(--color-role-event-organizers);
}
.role-assistant-organizers img {
	border: var(--border-solid-2px) var(--color-role-assistant-organizers);
}
