@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--role-border: 2px solid;
}
@theme {
	--color-table-header: #091a52;
	--color-highlight: #ff5733;
	--color-role-admin: red;
	--color-role-lead-developer: red;
	--color-role-developer: cyan;
	--color-role-lead-moderator: #e91e63;
	--color-role-moderator: yellow;
	--color-role-board: purple;
	--color-role-leader: orange;
	--color-role-coordinator: #3498db;
	--color-role-co-organizers: blue;
	--color-role-event-organizers: lime;
	--color-role-assistant-organizers: #c35339;
}
.role-admin { --role-color: var(--color-role-admin); }
.role-developer { --role-color: var(--color-role-developer); }
.role-moderator { --role-color: var(--color-role-moderator); }
.role-board { --role-color: var(--color-role-board); }
.role-leader { --role-color: var(--color-role-leader); }
.role-coordinator { --role-color: var(--color-role-coordinator); }
.role-co-organizers { --role-color: var(--color-role-co-organizers); }
.role-lead-developer { --role-color: var(--color-role-lead-developer); }
.role-event-organizers { --role-color: var(--color-role-event-organizers); }
.role-assistant-organizers { --role-color: var(--color-role-assistant-organizers); }
.role img {
	border: var(--role-border) var(--role-color);
}
.role:hover img {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4))
          drop-shadow(0 0 20px rgba(255, 255, 255, 0.2));
  transition: filter 0.3s ease;
}

.role span {
	color: var(--role-color);
}
