:root {
	--toggle-icon-color: #ffffff;
	--toggle-icon-hover: #ffd700;
	--bg-color: #000000;
	--bg-overlay: rgba(0, 0, 0, 0.65);
	--text-color: #ffffff;
	--reverse-text-color: #111111;
	--card-bg: rgba(255, 255, 255, 0.1);
	--role-shadow-rgb: 255, 255, 255;
}
[data-theme='light'] {
	--toggle-icon-color: #111111;
	--toggle-icon-hover: #ff8c00;
	--bg-color: #ffffff;
	--bg-overlay: rgba(255, 255, 255, 0.65);
	--text-color: #111111;
	--reverse-text-color: #ffffff;
	--card-bg: rgba(255, 255, 255, 0.85);
	--role-shadow-rgb: 0, 0, 0;
}

/* Theme */
.theme-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 9999px;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}
.theme-toggle svg {
	color: var(--toggle-icon-color);
	transition: color 0.3s ease;
}
.theme-toggle:hover svg {
	color: var(--toggle-icon-hover);
}

/* Roles */
.role-admin {
	--role-color: var(--color-role-admin);
}
.role-developer {
	--role-color: var(--color-role-developer);
}
.role-moderator {
	--role-color: var(--color-role-moderator);
}
.role-board {
	--role-color: var(--color-role-board);
}
.role-leader {
	--role-color: var(--color-role-leader);
}
.role-coordinator {
	--role-color: var(--color-role-coordinator);
}
.role-co-organizers {
	--role-color: var(--color-role-co-organizers);
}
.role-lead-developer {
	--role-color: var(--color-role-lead-developer);
}
.role-event-organizers {
	--role-color: var(--color-role-event-organizers);
}
.role-assistant-organizers {
	--role-color: var(--color-role-assistant-organizers);
}
.role img {
	border: var(--role-border) var(--role-color);
	transition: filter 0.3s ease;
}
.role:hover img {
	filter: drop-shadow(0 0 10px rgba(var(--role-shadow-rgb), 0.4)) drop-shadow(0 0 20px rgba(var(--role-shadow-rgb), 0.2));
}
.role span {
	color: var(--role-color);
}
